:root {
  --color1: #160d18;
  --color2: #23145b;
  --color3: #09456c;
  --color4: #026f6e;
  --color5: #1ca39e;
}


body {
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color4);
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: rgb(243, 55, 55);
    font-weight: bolder;
}


main.fazerPedido{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

main.fazerPedido form input{
    margin-bottom: 1.2rem;
}

section {
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

footer {
    background-color: var(--color4);
    color: white;
    text-align: center;
    padding: 12px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.produto {
    width: 200px;
    background: #fff0e0;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.produto:hover {
    transition: 0.8s;
    transform: scale(1.1);
    
}

.produto img {
    max-width: 100%;
    border-radius: 10px;
}

.botao {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #241e1e;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.botao:hover {
    background-color: #464646;
    font-weight: 700;
}

button.confirmar-pedido{
    background-color: #35a33a;
    text-decoration: none;
}

button.confirmar-pedido:hover{
    background-color: #2fc236;
    font-weight: 700;
}

.grupoBotoes{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.botao.btnInicio{
    background-color: var(--color2);
    font-weight: 700;
    margin: 1rem;
}

.botao.btnVerProdutos{
    background-color: var(--color3);
    font-weight: 700;
    margin: 1rem;
}

form.inserirPedido{
    background-color: #fff0e0;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

form.formContato{
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

form.formContato input{
    margin-bottom: 10px;
}

textarea{
    margin-top: 10px;
}


input, button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

.imagemDoPedido img{
    width: 15rem;
    border-radius: 10px;
}


.container-home {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.apresentacao, .servicos, .historia , .contato{
    flex: 1 1 300px;
    background-color: #fff0e0;
    padding: 20px;
    border-radius: 10px;
}

.imagens-home img{
    width: 20rem;
}

.contato{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

